.am-search {
  border-bottom: .1rem solid #d1d1d1;
}

.sub-title {
  height        : 2.5rem;
  width         : 100%;
  font-size     : 1rem;
  line-height   : 2.5rem;
  text-align    : center;
  align-items   : center;
}