.box {
  width    : 100%;
  height   : 2.5rem;
  font-size: 1rem;

  .icon {
    position: absolute;
    left    : .4rem;
    top     : .8rem;
    width   : 2rem;
    height  : 2rem;
  }

  .text {
    position   : absolute;
    font-size  : 1rem;
    color      : #333333;
    width      : 6rem;
    height     : 2rem;
    left       : 9rem;
    top        : 1.2rem;
    font-weight: 100;

  }
}

.conner {

  position  : relative;
  width     : 100%;
  height    : 8rem;
  background: rgba(204, 204, 204, 1);

  .headSculpture {
    position     : absolute;
    left         : 2rem;
    top          : 2rem;
    width        : 4rem;
    height       : 4rem;
    background   : #bcbcbc;
    border-radius: 50%;
    text-align   : center;
    line-height  : 4rem;
  }

  .text1 {
    position : absolute;
    left     : 7rem;
    top      : 3.5rem;
    font-size: 1rem;
  }

  .icon1 {
    position: absolute;
    width   : 1.2rem;
    height  : 1.2rem;
    right   : 1rem;
    top     : .7rem;
    z-index : 1;
  }

}

.curret {
  position     : relative;
  margin-top   : .5rem;
  width        : 100%;
  height       : 5rem;
  border-bottom: .05rem solid #cccccc;
  border-top   : .05rem solid #cccccc;

  .text2 {
    position: absolute;
    width   : 100%;
    top     : .2rem;
    left    : .5rem;
  }

  .text3 {
    position   : absolute;
    width      : 4.5rem;
    height     : 1rem;
    line-height: 1rem;
    right      : .6rem;
    top        : .01rem;
    font-size  : .7rem;
  }

  span {
    position: absolute;
    top     : .4rem;
    left    : 0;
  }

  .icon2 {
    position: absolute;
    right   : .2rem;
    top     : .2rem;
  }

  .liList {
    position: absolute;
    width   : 100%;
    bottom  : .2rem;
    display : flex;

    li {
      text-align: center;
      flex      : 1;
    }
  }
}

.classify {
  margin-top   : .7rem;
  margin-bottom: .5rem;
  width        : 100%;
  height       : 20rem;

  ul:nth-child(1) li {
    border-top: .05rem solid #cccccc;
  }

  .classifyList {
    display    : block;
    width      : 100%;
    height     : 3rem;
    line-height: 3rem;


    li {
      padding-left : 3rem;
      position     : relative;
      border-bottom: .05rem solid #cccccc;

      .icon3 {
        position: absolute;
        top     : .8rem;
        right   : .5rem;
      }
    }
  }
}